header {
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
}

body {
    background-image: url(Images/bggame.png);
}

.records-section {
    color: white;
}

.starterbutton {
    background-image: url(Images/bgwonmsg.png);
    border-radius: 15px;
    margin-top: 128px;
    align-items: left;
    text-align: left;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(180, 255, 105);
    padding: 10px;
    padding-left: 10px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

canvas {
    background-color: blueviolet;
}

.winmsg {
    background-image: url(Images/bgwonmsg.png);
    border-radius: 15px;
    margin-top: 128px;
    align-items: left;
    text-align: center;
}